*{ margin:0px;
padding:0px;  }

header{height: 300px;
background: black;}

 section{ margin-top: 2%;
height: 400px;}

div{ margin-top: 5%;
width: 29%;
height: 85%;
float: left;
background: seagreen;
margin: 2%;
 



